/* font-family: 'Lekton', sans-serif;
font-family: 'Lexend Tera', sans-serif; 
font-family: 'Alike', serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    background-color: #CAC691;
    color: #152A3E;
}

li {
    list-style-type: none;
}

h1, {
    font-family: 'Lexend Tera', san-serif;
}

h2,
h3 {
    font-family: 'Lekton' sans-serif;
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 1em;
}